{% extends 'intro.html.twig' %}

{% block title %}Log in!
{% endblock %}


{% block body %}

	<div class="container">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-lg-7">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div
						class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">Login Page</h1>
									</div>

									<form action="#" method="post">
										<div class="form-group first">
											<label for="email">Email</label>
											<input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
										</div>
										{# value="{{ last_username }}" #}
										<div class="form-group last mb-3">
											<label for="inputPassword">Password</label>
											<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
										</div>

										<input type="submit" value="Log In" class="btn btn-block btn-primary">

									</form>
									<div class="text-center">
										<a class="small" href={{ path('app_register') }}>Create an Account!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
{% endblock %}
